In [1]:
import pandas as pd
from pandas import read_parquet

In [2]:
link_tb = pd.read_excel('../data/tables/australian_postcodes.xls') ## postcode to SA2 code
link_tb = (link_tb[['Postcode','SA2 MAINCODE 2016','SA2 NAME 2016']].

           rename({'Postcode':'postcode','SA2 MAINCODE 2016':'SA2 code'},axis = 1).drop_duplicates())

In [3]:
link_tb = link_tb.loc[link_tb['postcode'].drop_duplicates().index,:]
link_tb

       postcode     SA2 code         SA2 NAME 2016
0           200  801051049.0                 Acton
2           800  701011002.0           Darwin City
4           801  701011002.0           Darwin City
5           804  701011007.0                 Parap
6           810  701021010.0                 Alawa
...         ...          ...                   ...
18437      9013  305011105.0         Brisbane City
18438      9015  305011105.0         Brisbane City
18439      9464  302031038.0  Northgate - Virginia
18440      9726  309101268.0               Bundall
18441      9999  206041122.0             Melbourne

[3167 rows x 3 columns]

In [4]:
population = pd.read_excel('../data/tables/ABS_population_2021.xlsx')

In [5]:
population = population.iloc[0:2450,:]

In [6]:
population

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,2021,2011-2021\t,2011-2021%,Area,Population density 2021
0,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,Braidwood,4330,872,25.2,3418.4,1.3
1,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,Karabar,8546,-546,-6.0,7.0,1223.9
2,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,Queanbeyan,11370,655,6.1,4.8,2387.7
3,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,Queanbeyan - East,5093,142,2.9,13.0,391.7
4,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,Queanbeyan West - Jerrabomberra,12743,-480,-3.6,13.7,931.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80110,Molonglo,801101139,Wright,3806,3806,0.0,1.3,2993.1
2446,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80110,Molonglo,801101145,Molonglo - East,3,3,0.0,7.3,0.4
2447,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80110,Molonglo,801101146,Whitlam,10,6,150.0,3.3,3.1
2448,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80111,Uriarra - Namadgi,801111140,ACT - South West,554,107,23.9,416.8,1.3
2449,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80111,Uriarra - Namadgi,801111141,Namadgi,67,26,63.4,1202.8,0.1

In [7]:
income = pd.read_excel('../data/tables/ABS_income_2021.xls').rename({'SA2':'SA2 code'},axis = 1)

In [8]:
income

,SA2 code,SA2 NAME,Earners (persons)2017-18,Median age of earners (years)2017-18,Sum ($)2017-18,Median ($)2017-18,Mean ($)2017-18
0,Australia,NaN,14069082,42,903888674402,49805,64246
1,New South Wales,NaN,4466941,42,300176988652,50153,67200
2,101021007,Braidwood,2315,51,119439615,42003,51594
3,101021008,Karabar,5059,42,322715297,59295,63790
4,101021009,Queanbeyan,6595,39,414579067,57848,62863
...,...,...,...,...,...,...,...
2292,801101137,Molonglo,np,np,np,np,np
2293,801101138,Molonglo - North,np,np,np,np,np
2294,801101139,Wright,2071,34,171246822,76754,82688
2295,801111140,ACT - South West,364,39,24549967,61096,67445
2296,801111141,Namadgi,19,28,1070776,58498,56357

In [9]:
clean = read_parquet("../data/curated/cleaned_merge3_old.parquet")

In [10]:
clean

,user_id,merchant_abn,dollar_value,order_id,date,name_x,address,state,postcode,gender,consumer_id,name_y,tags,revenue_levels,take_rate
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,Sed Nunc Industries,"books, periodicals, anD newspapers",b,4.24
1,18485,62191208634,79.131400,9e18b913-0465-4fd4-92fd-66d15e65d93c,2021-02-28,Samuel Haynes,9969 Catherine View Apt. 601,VIC,3073,Male,1212819,Cursus Non Egestas Foundation,"furniture, home furnishings and equipment shop...",c,2.17
2,1,83690644458,30.441348,40a2ff69-ea34-4657-8429-df7ca957d6a1,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,Id Erat Etiam Consulting,"gift, card, novelty, and souvenir shops",b,3.15
4,2,80779820715,48.123977,cd09bdd6-f56d-489f-81ea-440f4bda933c,2021-02-28,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,Euismod Enim LLC,"watch, clock, and jewelry repair shops",b,4.71
5,18489,43186523025,98.148785,9008a98e-1b02-4de4-bc4c-47395f6275f6,2021-02-28,Elijah Wong,6111 Allen Walk Suite 233,VIC,3378,Male,100699,Lorem Ipsum Sodales Industries,"florists supplies, nurSery stock, and flowers",b,4.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643259,18463,46804135891,36.522435,dabebf79-1fdb-4467-b8ad-e5f19f9a882e,2021-08-27,Tyler Johnson,5833 Graves Station,NSW,1819,Undisclosed,346881,Suspendisse Dui Corporation,"opticians, optical goods, and eyeglasses",c,2.93
3643262,18471,21359184622,97.760164,8ed0f865-9f70-4e20-8266-81904c95de89,2021-08-27,Ronald Daniel,1182 King Lights,SA,5048,Male,461141,Sit Amet PC,motor vehicle supplies and new parts,b,3.60
3643263,18472,21807339153,54.310599,3251ce95-a850-4fbc-98d0-32bce1651d40,2021-08-27,Mr. Robert Jackson,68692 Katrina Oval,VIC,3770,Male,659268,Praesent Eu LLP,"digital goods: books, movies, music",c,2.73
3643264,18475,41944909975,103.804012,bd52416a-a7f1-4293-ae96-cc4a8392e414,2021-08-27,Stephanie Wallace,7284 Daniel Junction Apt. 894,NSW,1025,Female,904854,Et Nunc Consulting,"books, periodicals, and newspapers",e,0.16
3643265,18477,63290521567,17.826070,0aa657d5-c559-41f7-9345-5d2162ad46f5,2021-08-27,Frank Williams,7555 Mendoza Centers Apt. 960,VIC,3115,Male,1117623,Vehicula Pellentesque Corporation,artist supply and craft shops,a,6.48

In [11]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3028552 entries, 0 to 3643265
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   merchant_abn    object
 2   dollar_value    float64
 3   order_id        object
 4   date            datetime64[ns]
 5   name_x          object
 6   address         object
 7   state           object
 8   postcode        int64
 9   gender          object
 10  consumer_id     int64
 11  name_y          object
 12  tags            object
 13  revenue_levels  object
 14  take_rate       float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(10)
memory usage: 369.7+ MB

In [12]:
p = read_parquet("../data/curated/population_2021.parquet")

In [13]:
p

,State,SA2_code,SA2_name,population,population_density
1,New South Wales,101021007,Braidwood,4330,1.3
2,New South Wales,101021008,Karabar,8546,1223.9
3,New South Wales,101021009,Queanbeyan,11370,2387.7
4,New South Wales,101021010,Queanbeyan - East,5093,391.7
5,New South Wales,101021012,Queanbeyan West - Jerrabomberra,12743,931.9
...,...,...,...,...,...
2446,Australian Capital Territory,801101139,Wright,3806,2993.1
2447,Australian Capital Territory,801101145,Molonglo - East,3,0.4
2448,Australian Capital Territory,801101146,Whitlam,10,3.1
2449,Australian Capital Territory,801111140,ACT - South West,554,1.3
2450,Australian Capital Territory,801111141,Namadgi,67,0.1

In [14]:
population

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,2021,2011-2021\t,2011-2021%,Area,Population density 2021
0,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,Braidwood,4330,872,25.2,3418.4,1.3
1,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,Karabar,8546,-546,-6.0,7.0,1223.9
2,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,Queanbeyan,11370,655,6.1,4.8,2387.7
3,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,Queanbeyan - East,5093,142,2.9,13.0,391.7
4,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,Queanbeyan West - Jerrabomberra,12743,-480,-3.6,13.7,931.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80110,Molonglo,801101139,Wright,3806,3806,0.0,1.3,2993.1
2446,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80110,Molonglo,801101145,Molonglo - East,3,3,0.0,7.3,0.4
2447,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80110,Molonglo,801101146,Whitlam,10,6,150.0,3.3,3.1
2448,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80111,Uriarra - Namadgi,801111140,ACT - South West,554,107,23.9,416.8,1.3
2449,8,Australian Capital Territory,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80111,Uriarra - Namadgi,801111141,Namadgi,67,26,63.4,1202.8,0.1

In [15]:
p=p.rename(columns={'SA2_code':'SA2 code', 'SA2_name':'SA2 name'})

In [36]:
merge_4 = pd.merge(clean,link_tb,on='postcode')

In [17]:
merge_4.columns

Index(['user_id', 'merchant_abn', 'dollar_value', 'order_id', 'date', 'name_x',
       'address', 'state', 'postcode', 'gender', 'consumer_id', 'name_y',
       'tags', 'revenue_levels', 'take_rate', 'SA2 code', 'SA2 NAME 2016'],
      dtype='object')

In [18]:
p.columns

Index(['State', 'SA2 code', 'SA2 name', 'population', 'population_density'], dtype='object')

In [19]:
merge_5 = pd.merge(merge_4,p,on='SA2 code',how = 'left')

In [28]:
merge_6 = pd.merge(merge_5,income,on='SA2 code',how = 'left')

In [30]:
merge_6.columns

Index(['user_id', 'merchant_abn', 'dollar_value', 'order_id', 'date', 'name_x',
       'address', 'state', 'postcode', 'consumer_id', 'name_y', 'tags',
       'revenue_levels', 'take_rate', 'SA2 code', 'State', 'SA2 name',
       'population', 'population_density', 'Sum ($)2017-18',
       'Mean ($)2017-18'],
      dtype='object')

In [29]:
merge_6=merge_6.drop(['SA2 NAME 2016','SA2 NAME','gender','Earners (persons)2017-18','Median age of earners (years)2017-18','Median ($)2017-18'], axis='columns')

In [45]:
merge_6

,user_id,merchant_abn,dollar_value,order_id,date,name_x,address,state,postcode,consumer_id,...,tags,revenue_levels,take_rate,SA2 code,State,SA2 name,population,population_density,Sum ($)2017-18,Mean ($)2017-18
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,1195503,...,"books, periodicals, anD newspapers",b,4.24,504031066.0,Western Australia,Midland - Guildford,11512.0,982.8,346078382,60897
1,18485,62191208634,79.131400,9e18b913-0465-4fd4-92fd-66d15e65d93c,2021-02-28,Samuel Haynes,9969 Catherine View Apt. 601,VIC,3073,1212819,...,"furniture, home furnishings and equipment shop...",c,2.17,209041223.0,Victoria,Thomastown,20211.0,1376.3,470369836,46808
2,1,83690644458,30.441348,40a2ff69-ea34-4657-8429-df7ca957d6a1,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,1195503,...,"gift, card, novelty, and souvenir shops",b,3.15,504031066.0,Western Australia,Midland - Guildford,11512.0,982.8,346078382,60897
3,2,80779820715,48.123977,cd09bdd6-f56d-489f-81ea-440f4bda933c,2021-02-28,Mary Smith,3764 Amber Oval,NSW,2782,179208,...,"watch, clock, and jewelry repair shops",b,4.71,124011455.0,New South Wales,Wentworth Falls,6436.0,306.0,212463362,59647
4,18489,43186523025,98.148785,9008a98e-1b02-4de4-bc4c-47395f6275f6,2021-02-28,Elijah Wong,6111 Allen Walk Suite 233,VIC,3378,100699,...,"florists supplies, nurSery stock, and flowers",b,4.47,215011387.0,Victoria,Ararat Surrounds,3180.0,0.8,94973125,50571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028545,18461,81219314324,39.072718,7523db12-e2fc-4eeb-8dbf-3decce70911a,2021-08-27,Erika Brown,46954 Henson Ranch,WA,6282,226975,...,"gift, card, novelty, and souvenir shops",a,6.35,501011003.0,Western Australia,Busselton Surrounds,12300.0,10.0,443188178,59665
3028546,18462,80324045558,5.393613,63e50880-50c8-42b2-a386-f2b92588a9a0,2021-08-27,Karen Torres,1233 Meredith Route Apt. 421,QLD,4471,1092801,...,"gift, card, novelty, and souvenir shops",c,1.47,315031411.0,Queensland,Far South West,2752.0,0.0,68532842,47102
3028548,18471,21359184622,97.760164,8ed0f865-9f70-4e20-8266-81904c95de89,2021-08-27,Ronald Daniel,1182 King Lights,SA,5048,461141,...,motor vehicle supplies and new parts,b,3.60,403011056.0,South Australia,Brighton (SA),15295.0,2585.0,619462130,67998
3028549,18472,21807339153,54.310599,3251ce95-a850-4fbc-98d0-32bce1651d40,2021-08-27,Mr. Robert Jackson,68692 Katrina Oval,VIC,3770,659268,...,"digital goods: books, movies, music",c,2.73,211051278.0,Victoria,Lilydale - Coldstream,19783.0,180.9,707558316,61266
3028551,18477,63290521567,17.826070,0aa657d5-c559-41f7-9345-5d2162ad46f5,2021-08-27,Frank Williams,7555 Mendoza Centers Apt. 960,VIC,3115,1117623,...,artist supply and craft shops,a,6.48,211021262.0,Victoria,Warrandyte - Wonga Park,10183.0,222.5,584086109,85193

In [48]:
merge_6.describe()

,dollar_value,postcode,consumer_id,take_rate,population,population_density
count,2.613935e+06,2.613935e+06,2.613935e+06,2.613935e+06,2.613935e+06,2.613935e+06
mean,7.039360e+01,4.250117e+03,7.523948e+05,4.621801e+00,9.817083e+03,8.237715e+02
std,6.343606e+01,1.636261e+03,4.358447e+05,1.734866e+00,6.135937e+03,1.646837e+03
min,9.756658e-08,2.000000e+02,3.000000e+01,1.000000e-01,0.000000e+00,0.000000e+00
25%,2.199321e+01,2.900000e+03,3.716600e+05,3.050000e+00,4.909000e+03,1.200000e+00
50%,4.917560e+01,4.011000e+03,7.533530e+05,4.850000e+00,8.053000e+03,1.330000e+01
75%,1.016296e+02,5.464000e+03,1.131286e+06,6.180000e+00,1.378800e+04,1.112800e+03
max,2.750724e+02,9.726000e+03,1.499867e+06,7.000000e+00,2.687100e+04,1.260110e+04

In [53]:
df[['Sum ($)2017-18','Mean ($)2017-18']] = df[['Sum ($)2017-18','Mean ($)2017-18']].astype('float')

In [41]:
merge_6=merge_6.dropna(axis=0,how='any')

In [49]:
df = merge_6.drop(merge_6[merge_6['Sum ($)2017-18']=='np'].index)

In [51]:
df = df.drop(df[df['Mean ($)2017-18']=='np'].index)

In [52]:
df

,user_id,merchant_abn,dollar_value,order_id,date,name_x,address,state,postcode,consumer_id,...,tags,revenue_levels,take_rate,SA2 code,State,SA2 name,population,population_density,Sum ($)2017-18,Mean ($)2017-18
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,1195503,...,"books, periodicals, anD newspapers",b,4.24,504031066.0,Western Australia,Midland - Guildford,11512.0,982.8,346078382,60897
1,18485,62191208634,79.131400,9e18b913-0465-4fd4-92fd-66d15e65d93c,2021-02-28,Samuel Haynes,9969 Catherine View Apt. 601,VIC,3073,1212819,...,"furniture, home furnishings and equipment shop...",c,2.17,209041223.0,Victoria,Thomastown,20211.0,1376.3,470369836,46808
2,1,83690644458,30.441348,40a2ff69-ea34-4657-8429-df7ca957d6a1,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,1195503,...,"gift, card, novelty, and souvenir shops",b,3.15,504031066.0,Western Australia,Midland - Guildford,11512.0,982.8,346078382,60897
3,2,80779820715,48.123977,cd09bdd6-f56d-489f-81ea-440f4bda933c,2021-02-28,Mary Smith,3764 Amber Oval,NSW,2782,179208,...,"watch, clock, and jewelry repair shops",b,4.71,124011455.0,New South Wales,Wentworth Falls,6436.0,306.0,212463362,59647
4,18489,43186523025,98.148785,9008a98e-1b02-4de4-bc4c-47395f6275f6,2021-02-28,Elijah Wong,6111 Allen Walk Suite 233,VIC,3378,100699,...,"florists supplies, nurSery stock, and flowers",b,4.47,215011387.0,Victoria,Ararat Surrounds,3180.0,0.8,94973125,50571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028545,18461,81219314324,39.072718,7523db12-e2fc-4eeb-8dbf-3decce70911a,2021-08-27,Erika Brown,46954 Henson Ranch,WA,6282,226975,...,"gift, card, novelty, and souvenir shops",a,6.35,501011003.0,Western Australia,Busselton Surrounds,12300.0,10.0,443188178,59665
3028546,18462,80324045558,5.393613,63e50880-50c8-42b2-a386-f2b92588a9a0,2021-08-27,Karen Torres,1233 Meredith Route Apt. 421,QLD,4471,1092801,...,"gift, card, novelty, and souvenir shops",c,1.47,315031411.0,Queensland,Far South West,2752.0,0.0,68532842,47102
3028548,18471,21359184622,97.760164,8ed0f865-9f70-4e20-8266-81904c95de89,2021-08-27,Ronald Daniel,1182 King Lights,SA,5048,461141,...,motor vehicle supplies and new parts,b,3.60,403011056.0,South Australia,Brighton (SA),15295.0,2585.0,619462130,67998
3028549,18472,21807339153,54.310599,3251ce95-a850-4fbc-98d0-32bce1651d40,2021-08-27,Mr. Robert Jackson,68692 Katrina Oval,VIC,3770,659268,...,"digital goods: books, movies, music",c,2.73,211051278.0,Victoria,Lilydale - Coldstream,19783.0,180.9,707558316,61266
3028551,18477,63290521567,17.826070,0aa657d5-c559-41f7-9345-5d2162ad46f5,2021-08-27,Frank Williams,7555 Mendoza Centers Apt. 960,VIC,3115,1117623,...,artist supply and craft shops,a,6.48,211021262.0,Victoria,Warrandyte - Wonga Park,10183.0,222.5,584086109,85193

In [42]:
merge_6.isnull().sum()

user_id               0
merchant_abn          0
dollar_value          0
order_id              0
date                  0
name_x                0
address               0
state                 0
postcode              0
consumer_id           0
name_y                0
tags                  0
revenue_levels        0
take_rate             0
SA2 code              0
State                 0
SA2 name              0
population            0
population_density    0
Sum ($)2017-18        0
Mean ($)2017-18       0
dtype: int64

In [44]:
merge_6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2613935 entries, 0 to 3028551
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   merchant_abn        object
 2   dollar_value        float64
 3   order_id            object
 4   date                datetime64[ns]
 5   name_x              object
 6   address             object
 7   state               object
 8   postcode            int64
 9   consumer_id         int64
 10  name_y              object
 11  tags                object
 12  revenue_levels      object
 13  take_rate           float64
 14  SA2 code            object
 15  State               object
 16  SA2 name            object
 17  population          float64
 18  population_density  float64
 19  Sum ($)2017-18      object
 20  Mean ($)2017-18     object
dtypes: datetime64[ns](1), float64(4), int64(2), object(14)
memory usage: 438.7+ MB

In [54]:
df.to_parquet("../data/curated/merge6.parquet")